@font-face {
  font-family: 'Tron';
  src: url('lib/assets/Tr2n.ttf');
}

canvas {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#end {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: none;
  width: 800px;
  height: 480px;
  background-color: rgba(12, 20, 31, .7);
}

#end p {
  color: #6FC3DF;
  font-size: 50px;
  font-family: "Tron";
  text-align: center;
  padding-top: 20px;
}

audio {
  margin: auto;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
}

body {
  background-image: url("lib/assets/images/tron-background.jpg");
  background-size:cover;
}
